#questionaireBackgrounds{
     -fx-focus-color: transparent;
      -fx-faint-focus-color: transparent;
}
#questionaireBackground{
     -fx-focus-color: transparent;
        -fx-faint-focus-color: transparent;

}
#submitButton{
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-background-opacity: 0.3;
}
#submitButton:hover{
    -fx-background-color: grey;
    -fx-text-fill: rgba(0, 0, 0, 0.5);
}