#closeBtn:hover {
   -fx-background-color: red;
   -fx-background-radius: 15px;
}

#backgroundPane {
    -fx-background-image: url("background.png");
    -fx-background-size: cover;
}

#navBarPane {
    -fx-background-image: url("navbar.png");
    -fx-background-size: cover;
}